<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/online_school?useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">ajfj39jfk124jdka</property>
        <property name="connection.pool_size">10</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="database.tables.Course"></mapping>
        <mapping class="database.tables.PurchaseList"></mapping>
        <mapping class="database.tables.Student"></mapping>
        <mapping class="database.tables.Subscription"></mapping>
        <mapping class="database.tables.Teacher"></mapping>
        <mapping class="database.tables.LinkedPurchaseList"></mapping>
    </session-factory>
</hibernate-configuration>